<h1>Connection Status : {{connectionStatus$ | async}}</h1>
<h1>Call Status : {{(callStatus$ | async).status}}</h1>
<h1>Incoming Call Status : {{incomingCallNotify$ | async}}</h1>

<br>
<br>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    <button (click)="connectUser1()">
      Connect Using User 1
    </button>
  </div>

  <div class="col-lg-6 col-sm-12">
    <button (click)="connectUser2()">
      Connect Using User 2
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <button (click)="startVideoCallUser1()"> Start Video Call to User 1</button>
  </div>
  <div class="col-lg-2">
    <button (click)="startVideoCallUser2()"> Start Video Call to User 2</button>
  </div>
  <div class="col-lg-2">
    <button (click)="answerCall()"> Answer Call </button>
  </div>
  <div class="col-lg-2">
    <button (click)="startAudioCallUser1()"> Start Audio Call to User 1</button>
  </div>
  <div class="col-lg-2">
    <button (click)="startAudioCallUser2()"> Start Audio Call to User 2</button>
  </div>
</div>

<br>

<div class="row" style="background-color: #f1f1f1;">
  <div class="col-lg-6" style="padding: 10px;">
      <video id="localVideo" playsinline autoplay muted></video>


  </div>
  <div class="col-lg-6" style="padding: 10px;">
      <video id="remoteVideo" playsinline autoplay></video>
  </div>
</div>


<audio id="audioPlayer" autoplay="autoplay" controls="controls" style="visibility:hidden; height:5px;"></audio>